<div class="comment">
	<hr/> 
  <div class="created_at">
    <b>Commenter:</b>
	  <%= comment.commenter %>
	<%= comment.created_at.to_s(:db) %>
  </div>
  <div class="body">
    <%= comment.body %>
  </div>
              
    <!--%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              [comment.post, comment],
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %-->
  
</div>