<div id="block-text" class="block">
  <div class="content">
    <h2 class="title">Home</h2>
    <div class="inner">
      <p class="first">
        This is simple blog application for rails 3.1 learners. You can find some usefull code here. And you can change and add your codes also. No problem you are programmer or beginner or whatever. Please come and share your knowladge here.

          <span class="hightlight"> This is share point your ideas.</span>
        Come and enjoy here. 
      </p>
      
      <hr/>
      <p>
        This is real time improving blog application. I ant to improve it step by step. You can also submit some codes and when I commit the code you can see the cahnges.
        
          <span class="hightlight"> I am writing the codes very baby steps and I hope you can easly understand it.</span>
        Please not put spam messages here. I will delete spam messages.
      </p>
    </div>
  </div>
</div>
<%= content_for :sidebar, render(:partial => 'sidebar') %>
